################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Liberty.SnipCode/.vs/Liberty.SnipCode/v16
/Liberty.SnipCode/bin/Debug/netcoreapp2.1
/Liberty.SnipCode/obj
